* {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #262336;
  padding: 3% 1% 2% 3%;
}

.nav-left {
  display: flex;

  gap: 5%;
}

.logo {
  display: flex;
  width: 30%;
  margin-bottom: 8%;
}

.logo img {
  width: 100%;
  border-radius: 10%;
}

.name {
  align-content: center;
}

.name p {
  margin: 0;
}

.name :nth-child(1) {
  font-size: xx-large;
  color: #bcbbc3;
}

.name:nth-child(2) {
  font-size: x-large;

  background-image: linear-gradient(#bcbbc3, #bcbbc3, black);
  color: transparent;
  background-clip: text;
}

.name .split-font {
  font-size: 2.2rem;
}

.nav-right {
  align-content: end;
}

.navbar li {
  display: inline;
  color: #58525f;
  font-size: x-large;
  padding: 0.8rem;
}

.navbar a {
  color: #58525f;
  &:hover {
    color: white;
  }
}
