/*Remove text-decoration from entire page*/
* {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #262336;
  padding: 3% 1% 2% 3%;
}

/*Left side of the nav bar*/
.nav-left {
  display: flex;
  gap: 5%;
  width: 25%;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;

  margin-bottom: 8%;
}

.logo img {
  width: 100%;

  border-radius: 10%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5%;
}

.name p {
  margin: 0;
}

.name :nth-child(1) {
  font-size: xx-large;
  color: #bcbbc3;
}

/*Add Text Gradient*/
.fade-font {
  font-size: x-large;

  background-image: linear-gradient(#cdccd2, #747185);
  color: transparent;
  background-clip: text;
}

.name .split-font {
  font-size: 2.2rem;
}

/*Right side of the nav bar*/
.nav-right {
  align-content: end;
}

.navbar li {
  display: inline;
  color: #58525f;
  font-size: x-large;
  padding: 0.8rem;
}

.navbar a {
  color: #58525f;
  &:hover {
    color: white;
  }
}

/*Customer Support Section*/

.support-container {
  display: flex;
  justify-content: center;
  background-color: #262336;
  border-top: solid #58525f 1px;
}
.support {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 3% 0 7% 0;
}

.support p {
  text-align: center;
}

.support h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.support .fade-font {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

.paragraph {
  color: #58525f;
  font-size: 1.5rem;
  text-align: center;
  margin: 5% auto 1% auto;
}

/*Try Now Button*/

.try-now {
  font-size: 1rem;

  background-image: linear-gradient(#cdccd2, #747185);
  color: white;
  padding: 0.7rem;
  border-radius: 0.5rem 0.5rem;
  margin: 0 auto 10% auto;
  &:hover {
    font-weight: bolder;
  }
}

/*Section with orange background*/
.orange-container {
  display: flex;
  justify-content: space-around;

  background-color: #f29b66;
  padding-bottom: 3%;
}

.service-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
}
.service-types h2 {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.service-types p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.fade-font-2 {
  background-image: linear-gradient(white, #cdccd2);
  color: transparent;
  background-clip: text;
}

/*Hosting Options Container*/
.hosting-container {
  display: flex;
  justify-content: space-around;
  background-color: #e8e8ea;
  padding: 1% 0 3% 0;
}

.hosting-table {
  width: 17%;
  margin-top: 1rem;
}

.fade-font-3 {
  background-image: linear-gradient(#b9b6bb, #8b8484);
  color: transparent;
  background-clip: text;
}

.hosting-heading {
  background-color: #6f6c89;
  border-radius: 0.5rem 0.5rem 0 0;
}

.price {
  color: #d0cdd0;
  background-color: #6f6c89;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 25px 0;
}

.per-month {
  background-image: linear-gradient(#db7c39, #b9674d);
  color: transparent;
  background-clip: text;
  font-size: 1rem;
}

/*Add Down Arrow in the Table*/
.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 1.5rem solid #6f6c89;
  margin: -10% auto 0 auto;
}

/*Hosting Details*/

td {
  border: solid #b9b6bb 1px;
  text-align: center;
  font-size: 0.7rem;
  color: #8b8484;
  padding: 5%;
}

/* Alternate Colors of Table*/
tr:nth-child(odd) {
  background-color: #ffffff;
}

td:nth-child(even) {
  background-color: #f5f0f0;
}

/*Sign Up Button*/
.orange-button {
  background-image: linear-gradient(#f18a54, #e66032);
  color: white;
  border-radius: 0.5rem 0.5rem;
  padding: 0.3rem 1.8rem;
  font-size: 1rem;
  border: none;

  &:hover {
    font-weight: bolder;
  }
}

/*Solutions Section*/
.solutions-container {
  display: flex;
  justify-content: space-around;
  background-color: #262336;
  position: relative;
}

.solutions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 18%;
  padding: 0 0 6% 0;
}

.solutions ul {
  margin-top: 0;
}

.solutions li {
  color: white;
}
.solutions li::marker {
  color: #f18a54;
}

.solutions p {
  color: #a9a4ad;
  margin-bottom: 3%;
}

.solutions .orange-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

/*Sponsors Section*/

.sponsors img {
  width: 100%;
  margin-bottom: -5px;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #1a1921;
}

/*Left Side of Footer*/

.foot-left {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 35%;
  color: #58525f;
  padding: 2%;
  font-size: 0.8rem;
}

.foot-left img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.name-foot {
  display: flex;
  flex-direction: column;
  color: #58525f;
}

.name-foot p {
  margin: 0;
  padding: 0;
}
.split-font-2 {
  font-weight: bold;
  font-size: 1rem;
  color: #6f6c89;
}

.foot-left a {
  color: #58525f;
  &:hover {
    color: white;
  }
}

/*Right Side of Footer*/

.foot-right {
  display: flex;
  align-items: flex-end;
}
.foot-right li {
  display: inline;
  margin-left: -2rem;
}

.foot-right img:hover {
  margin-bottom: 5px;
}
